body {
   margin: 0;
   overflow: hidden;
   box-sizing: border-box;
   font-family: 'Roboto', 'Noto Sans', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

div, p, h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
