.landing-page {
	background: #019196;
   background: -moz-linear-gradient(90deg, #019196 0%, #03ccac 100%);
   background: -webkit-linear-gradient(90deg, #019196 0%, #03ccac 100%);
   background: linear-gradient(90deg, #019196 0%, #03ccac 100%);
}